header {
  height: 150px;
  background-color: #000;
  text-align: center;
}

header h3 {
  margin: 0;
  padding-top: 10px;
  color: #fff;
  font-size: 30px;
}

header p {
  color: #fff;
  font-size: 26px;
  margin-top: 5px;
}

header p a {
  color: #fff;
}

header nav {
  margin-top: 0px;
}

header nav p, a {
  display: inline;
}

header nav a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

div#game-container {
  text-align: center;
}

div#game-info {
  margin-top: 50px
}

button#begin {
  background: none;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 20px;
  font-size: 30px;
  margin-top: 60px;
  float: right;
  margin-right: 400px;
}

table#preview {
  float: right;
  margin-top: -18px;
  margin-right: 40px;
}

table#game-board {
  float: left;
  margin-left: 200px;
  margin-top: -27px;
}

td {
  color: white;
  border: 1px solid black;
}

#game-board {
  float: left;
}

#game-board tr td {
  padding: 5px;
}

table#preview tr td {
  padding: 5px;
}

#game-board #row-0 td, #game-board #row-1 td, #game-board #row-2 td, #game-board #row-3 td {
  display: none;
}

.full {
  color: black;
  background-color: black;
}

#hidden {
  display: none;
}

.active {
}
